body {color: #fff}
#controlContainer {
    height: 100vh;
    background-image: url('../../assets/images/background.jpg') ;
    background-position: center top; 
    background-repeat: no-repeat; 
}

#controlContainer > .row > .col-12:nth-child(1){height: 150px}
#controlContainer > .row > .col-12:nth-child(1) > img {display: block; margin: 0 auto}
#controlContainer > .row > .col-12:nth-child(2) > .row   {
    width: 350px;
    margin: 15px auto;
    padding-bottom: 10px;
    background-image: linear-gradient(to bottom right, #f8f9fa52, #a9a9a900);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 7px 0px #000;
}

#controlContainer > .row > .col-12:nth-child(2) > .row > .col-12:nth-child(2) {
    height: 100px;
    padding-bottom: 10px;
}

#controller > .col-12 > .row > img {
    border-radius: 5px 5px 0 0;
    border: none;
    height: 56.25%;
    margin: 10px
}

#back {height: 100%; margin-left: -5px; float: left}
#forward {height: 100%; margin-right: -5px; float: right}
.dirBtn {box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5)}
.dirBtn:disabled {box-shadow: none}
.menu {
    background: #15324e;
    border-bottom: solid 1px #000;
    border-top: solid 1px #000;
}
.slbtn {transition: height 1s}
.slideBtn {overflow-y: scroll; margin-top: 10px; height: 130px}
.slideTitle{position: absolute; left: 15px}
.caret {margin-left: 6px; cursor: pointer}
.caret:hover {color: #ccc}
.jbtn {cursor: pointer; color: #ccc; width: fit-content}
.jbtn:hover {color: #fff}
.jbtn:hover .slideThumb {opacity: 1}

.slidePrev {
    padding: 38px 0;
    position: absolute;
    font-size: 26px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.slideThumb {
    position: absolute;
    right: 18px;
    width: 209px;
    top: 13px; 
    background-color: rgba(204, 204, 204, 0.4);
}

.slideThumb > img {
    width: 100%;
    transition: opacity 300ms;
}