#manager {
    color: #fff;
    font-size: 18px;
}
#manager > .row {
    margin: 0 auto;
    max-width: 1000px;
}

#header {height: 140px}
#header .col-sm-6 {text-align: center}
#header #logo {max-width: 360px; margin-bottom: 0}
#header input {
    background: linear-gradient(45deg, #007bff59, transparent);
    color: #fff;
    transition:  all 2s;  
}
#header .input-group {margin-top: 20px;}
.headLink:hover {cursor: pointer; background-color: #ccc}



#main {margin-top: 20px; height: 500px; text-overflow: ellipsis;}
#main > .row:nth-child(1) {
    border: solid #000000 1px;
    border-radius: 5px 5px 0 0;
    background-color: #747474;
    
}
#main > .row:nth-child(2) {
    padding: 0 10px;
    background: rgba(255, 255, 255, 0.288);
    border: solid #000 1px;
    overflow: scroll;
    /* height: 250px; */
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}

#main .project {
    border-bottom: solid #9c9c9c 1px;
    padding: 9px 9px;
    text-align: left;
}
#main .project:last-child{border: none}
#main svg:hover {
    cursor: pointer;
    color: #9c9c9c;
}

#main button {margin: 0 2px}
/* ------------------------ mobile ----------------------- */

@media only screen and (max-width: 575px) {
    #header .input-group {margin-top: -20px}
}